.container {
    .container {
        display: flex;
        justify-content: center
      }

}
img{
    width:10rem;
    height:10rem;
    margin: 5px;
    border-radius:4px;
}

.containeru{
    width: 91%;
    margin: 0 auto;
    padding: 20px;
}

body {

    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 2px solid #6362bb;
    padding: 8px;
    text-align: center;
    color: white;
    background-color: #000000;
}

th {
    border: 2px solid #6362bb;
    text-align: center;
    font-weight: 900;
    font-size: 17px;
    color: #000000;
    background-color: #ffffff
}


h3 {
    text-align: center;
    color: #000000;
    font-size: 40px;
    border-bottom: 2px solid #6362bb;
    padding-bottom: 5px;
    border-radius: 15px;
    padding-right: 15px;
    font-weight: bold;
    background-color: #f6f4f4
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .containeru,
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 2px solid #fff;
    }

    td {
        border: none;
        border-bottom: 1px solid #6362bb;
        position: relative;
        padding-left: 42%;
        padding-bottom: 20px;
        padding-right:5px;
    }

    td:before {
        position: absolute;
        top: 5px;
        left: 1px;
        width: 40%;
        padding-right: 1px;
        padding-bottom:2px; 

    }

    td:nth-of-type(1):before {
        content: "Név";
    }

    td:nth-of-type(2):before {
        content: "Email";
    }

    td:nth-of-type(3):before {
        content: "Tárgy";
    }

    td:nth-of-type(4):before {
        content: "Üzenet";
    }

    td:nth-of-type(5):before {
        content: "Létrehozás dátuma";
    }

    td:nth-of-type(6):before {
        content: "Küldte";
    }

}